/.Rproj.user/*
*.RData
*.Rhistory
*.Rproj
*.Rbuildignore
*.DS_Store
*.eps
.Rproj.user
.Rprofile
RLumModel.Debug/
RLumModel.Experiment/
packrat/
RLumModel.Rcheck/
RLumModel.BuildResults/*.tar.gz
RLumModel.BuildResults/*.zip
RLumModel.BuildResults/*.tgz
packrat/lib*/
packrat/src/
src/*.o
src/*.dll
inst/doc
NEWS~
vignettes/*.bib
vignettes/*.csl
