/.Rproj.user/*
*.Rhistory
*.Rproj
*.Rbuildignore
*.DS_Store
*.eps
.Rproj.user
.Rprofile
RLumModel.Debug/
RLumModel.Experiment/
packrat/
RLumModel.Rcheck/
RLumModel.BuildResults/*.tar.gz
RLumModel.BuildResults/*.zip
RLumModel.BuildResults/*.tgz
packrat/lib*/
packrat/src/
src/*.o
src/*.so
src/*.dll
*.RData
